# Rimuovi roba di python
*.pyc
**/__pycache__

#rimozione intellij
**/out
**/.idea

#ignora file oggetto ed assembly
*.out
*.s


#just to safe 
*.pdf
*.pptx

#cartella roba vecchia
old_stuff

**/target

#vs code
**/.vscode



